/collector/
/analyzer/web_frontend_analyzer/output/
/analyzer/web_backend_sources_parser/output/
/analyzer/web_server_config_parser/output/
/analyzer/web_backend_binary_analyzer/output/

# Common local artifacts
.DS_Store
Thumbs.db
*.log
__pycache__/
*.pyc
.idea/
.vscode/

